.DS_Store
SmartMusic.xcodeproj/project.xcworkspace/xcuserdata/kimihunter.xcuserdatad/UserInterfaceState.xcuserstate
SmartMusic.xcodeproj/xcuserdata/kimihunter.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
SmartMusic.xcodeproj/xcuserdata/kimihunter.xcuserdatad/xcschemes/xcschememanagement.plist
SmartMusic.xcodeproj/project.xcworkspace/xcuserdata/fengxuan.xcuserdatad/UserInterfaceState.xcuserstate
